<h1 id="best-header">Best Loved List</h1>

<div class="best-box">
    <div class="images">
        <h2 class="best-category">Highest Photo count per Album: <%= @top_albums.first.photos.count %> </h2>
        <%=render partial: "display_album"%>
    </div>
    <div class="images">
        <h2 class="best-category">Highest Album count per Photographer: <%= @top_photographers.first.albums.count %></h2>
        <%= render partial: "display_user", locals: {model: "Photographer", array: @top_photographers} %>
    </div>
    <div class="images">
        <h2 class="best-category">Highest Album count per Client: <%= @top_clients.first.albums.count %></h2>
        <%= render partial: "display_user", locals: {model: "Client", array: @top_clients} %>
    </div>
</div>
