<%= form_for :user do |f| %>
<p><%= f.label :email %>
<%= f.email_field :email, required: true %></p>
<p><%= f.label :password %>
<%= f.password_field :password, required: true %></p>
<%= f.submit "Login"%>
<% end %>