<%= form_for @user do |f| %>
<p><%= f.label :username %>
    <%= f.text_field :username, required: true %></p>
<p><%= f.label :email %>
    <%= f.email_field :email, required: true %></p>
<p><%= f.label :password %>
    <%= f.password_field :password, required: true %></p>
<p><%= f.label :password_confirmation, required: true %>
    <%= f.password_field :password_confirmation %></p>
<p><%= f.label :location %>
    <%= f.text_field :location %></p>
<%= f.submit%>
<% end %>