<h1><%=@client.username%>'s Homepage</h1>
<h2>Location: <%=@client.location%></h2>
<p><%= link_to "Edit Profile", edit_client_path(@client) %> | <%= link_to "Delete Profile", client_path, method: :delete %></p>

<%= display_user_albums %>