<%= form_for @album do |f| %>
<p><%= f.label :title %>
    <%= f.text_field :title %></p>
<p><%= f.label :description %>
    <%= f.text_field :description %></p>
<p><%= f.label :location %>
    <%= f.text_field :location %></p>
<p><%= f.label :date %>
    <%= f.date_field :date, max: Date.today %></p>
<p><%= f.label :client %>
    <%= f.collection_select :client_id, Client.all, :id, :username %></p>
<%= f.submit%>
<% end %>