<h1><%= @album.title %></h1>
<p><%= @album.description %></p>
<p><%= clean_time(@album.date) %></p>
<p>Location: <%= @album.location %></p>
<p>Photographer: <%= link_to @photographer.username, photographer_path(@photographer) %></p>
<p>Client: <%= link_to @client.username, client_path(@client) %></p>
<%= render "links" %>


<%= render "photos" %>
