<h1><%= @album.title %></h1>
<h2><%= clean_time(@album.date) %></h2>
<h2>Location: <%= @album.location %></h2>
<h2>Photographer: <%= link_to @photographer.username, photographer_path(@photographer) %></h2>
<h2>Client: <%= link_to @client.username, client_path(@client) %></h2>
<h3><%= @album.description %></h3>

<%= render "links" %>

<%= form_tag album_path(@album), method: :get do %>
    <%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Find Photos" %>
<% end %>

<h2 class="center-text">Photos</h2>

<%= render "photos" %>
