<%= form_for [@album, @photo] do |f| %>
<p><%= f.label :title %>
    <%= f.text_field :title, maxlength: 30, placeholder: "Max 30 characters" %></p>
<p><%= f.label :description %>
    <%= f.text_area :description, maxlength: 255, placeholder: "Max 255 characters" %></p>
<p><%= f.label :date %>
    <%= f.date_field :date, value: @album.date, max: Date.today %></p>
<p><%= f.label :image%>
    <%= f.file_field :image, accept: 'image/png, image/gif, image/jpeg' %></p>
<%= f.submit%>
<% end %>